<%= stylesheet_link_tag "print" %>
<div class="content">
	<h1>What files would you like to print?</h1>
	<p class="weaker">All you need to do is specify the file location by clicking on the "Browse" button and navigating to the file on your computer. If you want, you can print several files at once by clicking the link "Print another file". Don't forget to also indicate which printer you want the document to be printed on, and the number of copies to print.</p>
	<% @uploads = [] %>
	<% @printers = [] %>
	<% @copies = [] %>
	
	<%= form_tag("/print/print_files", :multipart => true) %>
	<div id="print_job">
		<div id="files">
	    	<%= render :partial => "single_file_print" %>
		</div>
		<div id="controls">
		    <%=
		        link_to_function "Print another file" do |page|
		            page.insert_html :bottom, "files", :partial => "single_file_print"
		        end
		    %>
		<%= submit_tag "Print my files", :id => "print_button" %>
		</div>
	</div>
</div>